body 
{
    margin:0;
    padding:0;
}

section {
    width: 100vw;
    height: 100vh;
    background-image: url("office_laptop-wallpaper.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    left: 1200px;
    right: 720px;
}

.sec2
{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.sec2 .container
{
    width:45vw;
    height:66vh;
}

.content h2{
    font-family:Verdana;
    padding-left:7vw;
}



.content input[type=text] /*textbox*/
{
    height:30px;
    border:0;
    margin-top:2.5vh;
    margin-left:4vh;
    border-radius:20px;
}

.content input[type=submit] /*buton*/
{
    color:white;
    margin-left:4vh;
    margin-top:2vh;
    padding-bottom:10px;
    padding-top:10px;
    padding-left:15px;
    padding-right:15px;
    border-radius:6px;
    border: 1px solid;
    background-color:black;
}


.content input[placeholder] /*textboxlarda yazan yazı*/ {
    font-family: Verdana;
    padding-left: 1vw;
    font-size
}